In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("web_clients_correct.csv")

In [3]:
old_man = df[(df["age"] > 30) & (df["sex"] == "male")]
old_man.head(15)

,name,device_type,browser,sex,age,bill,region
1,Allison Master. Hudson Trevor,tablet,Opera,male,48.0,850,Montreal: PQ / Chesterville: ON
5,Anderson Mr. Harry,mobile,Firefox,male,48.0,371,New York: NY
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,39.0,867,Belfast: NI
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,71.0,926,Montevideo: Uruguay
10,Astor Col. John Jacob,desktop,Chrome,male,47.0,100,New York: NY
14,Barkworth Mr. Algernon Henry Wilson,laptop,Chrome,male,80.0,723,Hessle: Yorks
15,Baumann Mr. John D,tablet,Opera,male,48.0,185,New York: NY
19,Beattie Mr. Thomson,mobile,Chrome,male,36.0,278,Winnipeg: MN
20,Beckwith Mr. Richard Leonard,desktop,Firefox,male,37.0,820,New York: NY
30,Blackwell Mr. Stephen Weart,mobile,Chrome,male,45.0,735,Trenton: NJ
31,Blank Mr. Henry,tablet,Internet Explorer,male,40.0,149,Glen Ridge: NJ
34,Borebank Mr. John James,desktop,Chrome,male,42.0,1253,London / Winnipeg: MB
37,"Bradley Mr. George (""George Arthur Brayton"")",mobile,Chrome,male,48.0,40,Los Angeles: CA
38,Brady Mr. John Bertram,mobile,Chrome,male,41.0,658,Pomeroy: WA
39,Brandeis Mr. Emil,mobile,Chrome,male,48.0,260,Omaha: NE

In [4]:
df["age"] = df["age"].apply(lambda age: "страше 25" if age > 25 else "младше, либо ровно 25")
df.head(15)

,name,device_type,browser,sex,age,bill,region
0,Allen Miss. Elisabeth Walton,mobile,Chrome,female,страше 25,885,St Louis: MO
1,Allison Master. Hudson Trevor,tablet,Opera,male,страше 25,850,Montreal: PQ / Chesterville: ON
2,Allison Miss. Helen Loraine,laptop,Firefox,female,страше 25,1034,Montreal: PQ / Chesterville: ON
3,Allison Mr. Hudson Joshua Creighton,desktop,Internet Explorer,male,страше 25,214,Montreal: PQ / Chesterville: ON
4,Allison Mrs. Hudson J C (Bessie Waldo Daniels),laptop,Firefox,female,"младше, либо ровно 25",993,Montreal: PQ / Chesterville: ON
5,Anderson Mr. Harry,mobile,Firefox,male,страше 25,371,New York: NY
6,Andrews Miss. Kornelia Theodosia,mobile,Chrome,female,страше 25,1126,Hudson: NY
7,Andrews Mr. Thomas Jr,tablet,Internet Explorer,male,страше 25,867,Belfast: NI
8,Appleton Mrs. Edward Dale (Charlotte Lamson),desktop,Chrome,female,страше 25,552,Bayside: Queens: NY
9,Artagaveytia Mr. Ramon,mobile,Firefox,male,страше 25,926,Montevideo: Uruguay
10,Astor Col. John Jacob,desktop,Chrome,male,страше 25,100,New York: NY
11,Astor Mrs. John Jacob (Madeleine Talmadge Force),laptop,Opera,female,страше 25,254,New York: NY
12,Aubart Mme. Leontine Pauline,tablet,Firefox,female,"младше, либо ровно 25",587,Paris: France
13,"Barber Miss. Ellen ""Nellie""",mobile,Firefox,female,страше 25,1009,-
14,Barkworth Mr. Algernon Henry Wilson,laptop,Chrome,male,страше 25,723,Hessle: Yorks